@use '../utilities/variables.scss' as *;

/* NAVBAR */

.navbar {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    color: $primary-color;
}
